<?xml version="1.0" ?>
<config>
    <modules>
        <BigData_Reports>
            <version>0.0.1</version>
        </BigData_Reports>
    </modules>

    <frontend>
        <routers>
            <reports>
                <use>standard</use>
                <args>
                    <module>BigData_Reports</module>
                    <frontName>reports</frontName>
                </args>
            </reports>
        </routers>

        <!-- This node contains module layout configuration -->
        <layout>
            <updates>
                <!-- module alias -->
                <reports>
                    <!-- File for loading -->
                    <file>reports.xml</file>
                </reports>
            </updates>
        </layout>
    </frontend>
    
    <global>
    <page>
      <layouts>
        <dashboard translate="label">
          <label>Reports layout</label>
          <template>reports/base.phtml</template>
          <layout_handle>dashboard</layout_handle>
        </dashboard>
        <!-- add more layouts here -->
      </layouts>
    </page>
  </global>
    
</config>